<h3>
    List of Employees
</h3>

<table class="table table-bordered">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>City </th>
        <th>Actions </th>
    </tr>

    <tr *ngFor="let employee of listOfEmployees">
        <td>
            {{ employee.first_name }}
        </td>
        <td>
            {{ employee.last_name }}
        </td>
        <td>
            {{ employee.city }}
        </td>
        <td>
            <input type="submit" class="btn btn-info" value="View Details"
            (click)="showEmployeeDetails(employee)" >
        </td>
    </tr>
</table>

<app-employee-details [employee]="activeEmployee">

</app-employee-details>

<app-employee-create (employeeCreated)="handleEmployeeCreation($event)"></app-employee-create>

