<h3>
  Create New Employee
</h3>

<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
</div>

<form (submit)="createNewEmployee()">
  <div class="form-group">
    Emp No: <input type="text" class="form-control" 
                  name="emp_no"
                  [(ngModel)]="newEmployee.emp_no">
    First Name: <input type="text" class="form-control" 
                  name="first_name"
                  [(ngModel)]="newEmployee.first_name">
    Last Name: <input type="text" class="form-control"
                name="last_name"
                [(ngModel)]="newEmployee.last_name">
    City: <input type="text" class="form-control"
                name="city"
                [(ngModel)]="newEmployee.city">

    <br>
    <input type="submit" value="Create Employee" class="btn btn-info"/>
  </div>
</form>